services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tl 
    ports:
      - "5433:5432"
    volumes:
      - tasks:/var/lib/postgresql/18/docker
  # backend:
  #   build: .
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     db:
  #       condition: service_healthy

  # migrate:
  #   build: .
  #   command: goose up
  #   depends_on:
  #     backend:
  #       condition: service_started
volumes:
  tasks:
